input[type=text], select, textarea {
    width: 100%;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.btn-sign{padding-left:7.7em;}
.logn-form{margin-top: 5em;}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
    margin-top: 150px;
}

 .alert-danger{
    padding: 5px;
    margin: -13px 138px 16px;
} 
 /* .col-md-3 {
    
    width: 25%;
    margin-top: 6px; 
}  */