.container{
    margin-top: 80px;
}
.headingDiv1{
    margin: 30px 0;
}
.init-scr{
    margin-top: 15px;
}

.effectDiv{
    margin-top: 40px;
    width: 38em;
}

h3{
    padding: 10px 0 10px 20px;
}

.form2{
    margin-top: -9px;
}

.effectBorderDiv{
    padding: 20px;
}

button{
    margin: 15px 0 0 40px;

}

.buttonDiv1{
    margin-left: 370px;
}
ng-datepicker {
    width: 254px;
}