
<div class="container">
  <h3 class="text-center headingDiv1">Bill of Material:Header Data</h3>
  
  <div class="container effectDiv">
    <h3 class="border bg-dark text-light">BOM & Alternate Text</h3>
    <form class="form-horizontal form2">
      <div class="border effectBorderDiv">
        <div class="init-scr">
          <div class="row">
            <div class="col-md-4">
              <label for="bom-text">BOM text</label>
            </div>
            <div class="col-md-6">
              <input class="form-control"
               type="text" id="bom-text"
                name="bom-text" placeholder="Enter BOM Text" required>
            </div>
          </div>
        </div>
      
        <div class="init-scr">
          <div class="row">
            <div class="col-md-4">
              <label for="alt-text">Alternate Text</label>
            </div>
            <div class="col-md-6">
              <input class="form-control" 
              type="text" id="alt-text"
               name="alt-text" 
               placeholder="Enter alternate text" required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
<div class="container effectDiv">
  <h3 class="border bg-dark text-light">Quantity Data</h3>
  <form class="form-horizontal form2">
    <div class="border effectBorderDiv">
      <div class="init-scr">
        <div class="row">
          <div class="col-md-4">
            <label for="base-qty">Base Quantity</label>
          </div>
          <div class="col-md-6">
            <input class="form-control"
             type="number" id="base-qty"
              name="base-qty" placeholder="Enter Base Quantity" required>
          </div>
        </div>
      </div>
      <div class="init-scr">
        <div class="row">
          <div class="col-md-4">
            <label for="validfrom">UOM</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" 
            type="text" id="uom"
             name="uom" 
             placeholder="Enter UOM" required>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" 
      class="buttonDiv1 btn btn-lg btn-dark" 
      routerLink="/material">Save</button>
      <button type="button" 
        class="btn btn-lg btn-dark" 
        routerLink="/create_bill">Save & continue</button>
      <button type="button" 
      class="btn btn-lg btn-dark" 
      routerLink="/material">Cancel</button>
      <button type="button" 
      class="btn btn-lg btn-dark" 
      routerLink="/app-viewdata">View Entries</button>
    </div>
  </form>
</div>














<!-- <div class="container">
    <h1>Bill-of-Material: Header Data</h1>
    <hr>
    <h2>BOM & Alternate text</h2>
    <div class="col-sm-4 col-sm-pull-8">
      <form class="form-horizontal">
          <div class="row">
              <div class="col-md-4">
                <label for="bomtest">BOM Test</label>
              </div>
              <div class="col-md-8">
                <input 
                class="form-control"
                type="text" 
                id="bomtest" 
                name="bomtest" 
                placeholder="Enter bomtest">
              </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <label for="alt-test">Alt-test</label>
                </div>
                <div class="col-md-8">
                  <input 
                  class="form-control"
                  type="text" 
                  id="alt-test" 
                  name="alt-test" 
                  placeholder="Enter alt-test">
                </div>
              </div>
      </form>
    </div>
    <hr>
    </div>
    <div class="container">
      <div class="col-sm-4 col-sm-pull-8">
          <form class="form-horizontal">
              <div class="row">
                  <div class="col-md-4">
                    <label for="base-qty">Base Qty</label>
                  </div>
                  <div class="col-md-8">
                    <input 
                    class="form-control"
                    type="number" 
                    id="base-qty" 
                    name="base-qty" 
                    placeholder="Enter base-qty">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <label for="uom">UOM</label>
                    </div>
                    <div class="col-md-8">
                      <input class="form-control" type="text" id="uom"  name="uom" 
                      placeholder="Enter UOM">
                    </div>
                  </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" routerLink="/material">Save</button>
                        <button type="button" class="btn btn-primary" routerLink="/create_bill">Save & continue</button>
                        <button type="button" class="btn btn-primary"routerLink="/material">Cancel</button>
                    </div>
                </form>
                </div>
    </div>
     -->
